body{
    margin-top: 300px;  
  }
  div {
      justify-content: center;
      height: 70px;
      width: 250px;
      display: flex;
      flex-direction: row;
      align-items: center;
      background-size: 40px;
      background-color: black;
      border-radius: 10px;
      margin-left: 500px;
      color:white;
      font-size: large;

  }
  div .status {
      width: 40px;
      height: 40px;
      overflow: hidden;
      padding: 0 0 15px 15px;
      border-radius: 50%; 
      margin-left: 10px; 
      background-color:red;
  }
  div .status.online {
      background-size:60px;
      background-position: center;

      background-color: green;

  }